.footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--footer-background);
  box-shadow: 0px 0px .5px rgba(0, 0, 0, 0.2);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

}
.footer-container h2{
  font-size: 1.1rem;
  border-right: 2px solid blue;
  padding-right: .5rem;
  height: 5rem
  bottom: 0;
}
.footer-container div{
  margin-left: .5rem;
}
.footer-container ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-bottom: .5rem;
  color: #333;
  font-weight: 500;
}

.footer-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}
.footer-icons i{
  font-size: 1.7rem;
}