.pos-table-container {
  overflow: auto;
  min-width: 100%;
  margin-top: 2rem;
}

.pos-table thead{
  text-align: center;
  background-color: #f5f5f5;
  border-bottom: 1px solid #ddd;
}

.pos-table tbody tr:nth-child(even){
  background-color: #f5f5f5;
}

.pos-table tbody td{
  padding: .2rem;
}
.pos-table a{
  text-decoration: none;
  color: #000;
}
.pos-table tbody tr:hover{
  background-color: #ddd;
}