/* Global styling */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: #000;
}

html{
  font-size: 62.5%;
}

.app-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr auto;
  min-height: 100vh;
  font-family: var(--font-primary);
}

main{
  padding: 1.2rem auto 5rem auto;
  margin-bottom: var(--gutter-height);
}